:root {
  --purple: #4F7DE3;
  --light-purple: #95B1EE;
  --dark-purple: #245ddc;
  --gray: #808080;
  --light-gray: #D3D3D3;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 70%;
  padding: 0;
  background-color: #EAEAEA;
  height: 100vh;
  font-family: 'Signika Negative', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

/* TYPOGRAPHY */

h1 {
  text-align: center;
}

.txt-bg {
  font-size: 1.3rem;
}

.txt-md {
  font-size: 1.1rem;
}

.txt-thin {
  font-weight: 300;
}

.txt-gray {
  color: var(--gray);
}

.txt--purple {
  color: var(--purple);
}

.rounded {
  border-radius: 5px;
}

.shadow {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.bdr-btm {
  border-bottom: 1px solid var(--light-gray);
}

.btn {
  border: none;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
}

.btn--outline {
  border: 2px solid var(--purple);
  background-color: #FFF;
  color: var(--purple);
}

.btn--outline:hover {
  background-color: var(--purple);
  color: #FFF;
}


/* ICON */

.icon {
  width: 2rem;
  height: 2rem;
}

.icon--sm {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--gray {
  fill: var(--light-gray);
}

.icon--white {
  fill: #FFF;
}

.icon--gold {
  fill: gold;
}

.icon--purple {
  fill: var(--light-purple);
  stroke-width: 1%;
}

/* CONTAINER */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
  align-items: start;
  justify-content: center;
  grid-gap: 30px;
}


/* SPECIAL SECTION */

.special-hours {
  background-color: #FFF;
}

.special__title {
  margin-top: 0;
  margin-bottom: 0;
}

.special__store {
  margin-top: .3em;
}

.special__title--point {
  color: #FFCC00;
  font-size: .8em;
  margin-left: 5px;
}

.special__details {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.special-info {
  /* Trick to place item at extreme right and extreme left */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;

  align-items: center;
}

.special__details p:last-child {
  margin-bottom: 0;
}

.special__label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
}

.special__label + .special__label {
  margin-left: .8em;
}

.special__link {
  display: flex;
  place-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, .2);
  color: var(--purple);
  padding: .5em 0;
}

.special__link:hover {
  background-color: var(--purple);
  color: #FFF;
}

.special__link .icon--cheveron {
  fill: var(--purple);
}

.special__link:hover .icon--cheveron {
  fill: #FFF;
}

/* ITEMS */

.items {
  display: grid;
  background-color: #FFF;
  padding: 1rem;
}

.item {
  display: grid;
  align-items: center;
  border: 2px solid var(--light-gray);
  padding: 0 1em;
  margin-bottom: 1.5em;

  /* Put things on extreme left and right */
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.item--selected {
  border: 2px solid var(--purple);
}

.item__details {
  display: grid;
}

.item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #FFF;
  background: var(--purple);
  padding: 1.5em 0;
}

.item__button:hover {
  background: var(--dark-purple);
}


/* LOCATION */

.location {
  background: #FFF;
  display: grid;
}

.location__time {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 1em;
}

.location__address {
  padding: 0 1em .6em;
}

.location__special {
  color: var(--purple);
}

.location__time p:first-child {
  display: flex;
  flex-direction: column;
}

.location__button {
  color: #FFF;
  background-color: var(--purple);
  padding: 1em 4em;
  margin: 1em;

  display: flex;
  justify-content: space-between;
}


/* PAYMENT */

.payment {
  background-color: #FFF;
}

.payment__price {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  padding: 1em;
}

.payment__price p {
  margin-top: 0;
}

.payment__price--amount {
  color: var(--purple);
}

.payment__buttons {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.payment__delivery {
  margin-bottom: 0;
  padding: 0 1em 1em;
  align-items: start;
  margin-top: 0;
}

.payment__btn {
  color: #FFF;
  background-color: var(--purple);
}

.payment__btn:hover {
  background-color: var(--dark-purple);
}



/* PODS */

.pods {
  padding: 1em;
  background-color: #FFF;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  justify-items: start;
}

.pods__body p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.pods__body {
  display: grid;
  justify-self: stretch;
}

.pods__title {
  display: grid;

  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.pods__price {
  margin-bottom: 0;
  justify-self: end;
}